# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# jdtls trash
.project
.settings/
app/.settings/
app/bin/
app/.classpath
app/.project
